.divBodyHome{
display: inline-block;
background-color: rgb(214, 214, 214);
margin: 0px;
padding: 0;
}
.bienvenidoHome{
    font-size: 29px;
    padding-top: 20px;
    margin-left: 500px;
}


.divBodyCart{
    
background-color: rgb(214, 214, 214);
margin: 0px;
padding: 0;
}
.cartelAviso{
    font-size: 30px;
    margin-left: 400px;
}
.subtituloCart{
    font-size: 20px;
    margin-left: 400px;
}
.imgCartConstruccion{
    margin-left: 460px;
    margin-top: -6px;
}