
.divBody{
    
    height: 76.9vh;
    background-color: rgb(214, 214, 214);
    overflow: hidden;
    
}

.imgCard{
    height: 210px;
    width: 180px;
}
 .cardItem{
 
    margin-left: 15px;
    padding-top: 10px;
    /* justify-content: center;
    align-items: center; */
} 

div.pCargando{
    display: flex;
    text-align: center;
    justify-content: center;
   
}
.botonDetalles{
    padding-top: 5px;
    margin-top: 5px;
}
.detallesLink{
    text-decoration: none;  
    color: aliceblue;
}
.cardItemDetail{
    margin-left: 530px;
    padding-top: 70px;
}
.addToCart{
    margin-top: 6px;
  margin-left: 60px;  
}
.buttonRest{
    margin-left: 86px;
}
.precio{
    margin-left: 86px;
}